* { box-sizing: border-box;}
* { margin: 0; padding: 0; }

.error {
    color: red;
  }
  
  .invalid {
    font-weight: bold;
    color: #cc0000;
  }
  
  .invalid input {
    border: 1px solid #cc0000;
  }


  h4 {
    display: none;
  }
  
